/* * {border:1px solid red} */

@import url('clash-display.css');
 
body {
    
  font-family: 'ClashDisplay-Regular';
  margin: 0;
  padding: 0;
  
}


:root {
  --main-color: rgba(255,77,0,0.5);
  --beige: var(beige);
  --main-color: rgba(253, 142, 94, 0.5);
}

nav {
  font-family: 'ClashDisplay-Regular';
  background-color: beige;
  color: orangered;
  padding: 20px 10px 10px 20px;
  font-size: 2rem;

}

.nav-links {
  font-family: 'ClashDisplay-Regular';
  display: flex;
  justify-content: space-between;

}

nav a {

  text-decoration: none;
  color: orangered;

}

nav a:hover {
  
  color: black;

}

.burger, .close{
  display: none;

}

i {
  color: var(--text);
}


.burger {
  width: 30px;
  height: 50px;
  object-fit: contain;
}

.logo {
  width: 30px;
  height: 50px;
  object-fit: contain;
}


.banner {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}

.banner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-shadow: 1px 1px 20px rgb(0, 0, 0);
}


img {
  height: 400px;
  object-fit: cover;
  margin: 0px;
  width: 100%;
}
  
.eat-in {

  background-color: #ff6b02;
  color: beige;
  padding: 100px;
  align-items: center;
  text-align: center;
}

.eat-at-home {

  background-color: beige;
  color: orangered;
  padding: 100px;
  align-items: center;
  text-align: center;

}

.menu {
  
  background-color: orangered;
  color: beige;
  padding: 50px;
  align-items: center;
  text-align: center;
  width: 100vw;


}

.our-story {

  background-color: beige;
  color: orangered;
  padding: 100px;
  align-items: center;
  text-align: center;
}


.sign-up {

  background-color: #ff6b02;
  color: beige;
  padding: 100px;
  align-items: center;
  text-align: center;


}

footer {
  font-family: 'ClashDisplay-Regular';
  background-color: beige;
  color: orangered;
  padding: 20px 10px 10px 20px;
  font-size: 2rem;

}

.footer-links {
  font-family: 'ClashDisplay-Regular';
  display: flex;
  justify-content: space-between;
  color: black;

}

footer a {

  text-decoration: none;

}


form {

  align-items: center;
  justify-content: center;

}

#email {
  background-color: beige;
  border: 0px transparent;
  padding-left: 20px;
  margin-bottom: 10px;
}

#submit {
  background-color: beige;
  border: 0px transparent;
}


.open {
  height: 200px;
  transition : all 2s ease-in-out;
}

footer a {

    text-decoration: none;
    color: orangered;

  
}


@media only screen and (max-width: 768px) {

  .container {
    margin: 0px;
    padding: 0px;
  }

  nav a:hover {
  
    font-family: 'ClashDisplay-SemiBold';
  
  }
  
  .nav-links {
    
    position: fixed;
    top: -110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: orangered;
    color: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
    transition: 1s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1;
    right: 0;

    }

    .active {
      top: 0;
      right: 0;
  }

  .burger {

    display: flex;
    justify-content: center;
    color: orangered;
    background-color: transparent;
    border: 0px solid var(--text);
    justify-content: flex-end;
    margin: 0;

  }

  .social-media-links {

    display: none;

  }

  .nav-links .close {

    display: contents;
    border: 0px transparent;
    margin-bottom: 30px;
    width: 20%;

  }

  .close:hover {

    font-weight: 900;
    color: white;

  }

  .eat-in {

    margin: 0;
    width: 100%;
  
  }
  
  .eat-at-home {
  
    width: 100%;
  
  }
  
  .our-story {

    width: 100%;
  
  }
  
  
  .sign-up {

    width: 100%;
  
  }

}
